@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

main body {
  //padding:1px 16px;
  height: 1000px;
}

//style="margin-left:20%;padding:1px 16px;height:1000px;
main textarea {
  resize: vertical;
}


/* nav */

aside ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: darkgray;
  position: fixed;
  height: 100%;
  overflow: auto;
}

aside li{
  display:block;
  background-color: palegreen;
  padding: 8px 0 8px 16px;
  text-direction: none;
}

aside li a.active {
  background-color: darkgreen;
  color: white;

}

aside li a.hover:not(.active) {
  background-color: palegreen;
  color: white;
}


