<aside class="navbar navbar-fixed-left">
  <nav>

    <ul>
      <li><%= link_to "Home",       "#" %></li>
      <li><%= link_to "Search",     "#" %></li>
      <li><%= link_to "Log in",     "#" %></li>
      <li><%= link_to "About Us",   "#" %></li>
    </ul>

  </nav>
</aside>
